<?xml version="1.0" encoding="UTF-8"?>
<module>
    <grants>
		<grant name="bet">
			<title xml:lang="ko">배팅 참여</title>
		</grant>
	</grants>
    <permissions />
    <actions>
        <action name="dispBetAdminContent" type="view" admin_index="true" standalone="true" />
		<action name="dispBetAdminManagement" type="view" standalone="true" />
		<action name="dispBetAdminAdditionSetup" type="view" standalone="true" />
		<action name="dispBetAdminGrantInfo" type="view" standalone="true" />

		<action name="dispBetContent" type="view" index="true" />
		<action name="dispBetSubmit" type="view" standalone="true" />

		<action name="procBet" type="controller" standalone="true" />
		<action name="procBetAdminInsertConfig" type="controller" standalone="true" />
    </actions>
</module>
